.slider-container{
    width:800px;
    position: relative;
    border: 1px solid #000;
    overflow: hidden;
    margin-left : 25%;
    margin-top : 5%;
}

.slider{
    display:flex;
    transition:transfom 0.5s ease-in-out;
}

.slider-controls{
    position: absolute;
    bottom : 20px;
    left: 50%;
    transform: translateX(-50%);
}

.next-slide,.prev-slide{
    margin: 0 10px; 
}

.slide-active{
    transform:translateX(0);
}

.slide{
    flex: 0 0 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}