.task-manager {
  display: flex;
  width: 650px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #a7a2a2;
  font-family: Arial, sans-serif;
}
.main-task-manager {
  margin-top: 40px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #b59898;
  font-family: Arial, sans-serif;
}
h2 {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.task-input {
  width: 250px;
  padding: 8px;
  margin: 10px 5px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
}

.task-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.task-button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 250px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-text {
  cursor: pointer;
  flex-grow: 1;
}

.task-text.completed {
  text-decoration: line-through;
  color: gray;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.remove-button:hover {
  background-color: darkred;
}

.completed-tasks {
  margin-left: 70px;
  margin-top: 15px;
  font-weight: bold;
  color: #007bff;
}
